*.h5
*.xls
*.png
*.dat
*.npy
.ipynb_checkpoints/
__pycache__/
CNN/.ipynb_checkpoints
CNN/logs/
CNN/pix2pix20epochs/
CNN/training_checkpoints/
rysujeLiteryBezKolwzorowaneNaPix2Pix.ipynb
train_drawLetters/
